@import "reset.css";

html {
	overflow: hidden;
	font-family: "PT Serif", serif;
}

body {
	overflow: hidden;
	position: relative;
	width: 1920px;
	height: 1080px;


	video,
	img {
		position: relative;
		z-index: -100;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		object-fit: cover;
		filter: brightness(30%);
	}

	.title {
		margin-bottom: 2.5rem;
		color: #999;
		font-size: 100px;
		font-weight: lighter;
	}

	.quote {
		color: #ccc;
		font-size: 70px;
	}

	.author {
		margin-top: 1rem;
		color: #ccc;
		font-size: 70px;
		text-align: right;

		&::before {
			content: "\2014\00a0";
		}
	}

	#quote-wrapper {
		position: absolute;
		bottom: 0;
		width: 1080px;
		height: 1080px;
		padding: 5rem;
		transform: rotate(270deg);
		transform-origin: center;
	}
}

.toggle-content {
	display: none;
	&.is-visible {
		display: block;
	}
}
